<h2 mat-dialog-title>Update Entry {{data.id}}</h2>
<mat-dialog-content>
    <form [formGroup]="service.form" class="normal-form">

        <mat-grid-list cols="2" rowHeight="600px">

            <mat-grid-tile>
                <div class="controles-container">
                  <!-- Team 1 -->
                    <mat-form-field>
                        <input formControlName="team1" matInput placeholder="Team 1">
                        <mat-error>This Field Is Mandatory</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({team1:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <!-- Team 2 -->
                    <mat-form-field>
                        <input formControlName="team2" matInput placeholder="Team 2">
                        <mat-error>This Field Is Mandatory</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({team2:''})">
                       <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>

                    <!-- Date -->
                    <mat-form-field>
                        <input #datepickerInput class="mat-datepicker-input" matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
                        <button matSuffix mat-icon-button arial-label="clear">
                      <mat-icon matDatepickerToggleIcon (click)="service.form.patchValue({date:''})">clear</mat-icon>
                    </button>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>




                    <!-- MLPrice -->
                    <mat-form-field>
                        <input formControlName="mlPrice" matInput placeholder="ML Price">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({mlPrice:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <!-- KO Price -->
                    <mat-form-field>
                        <input formControlName="_205" matInput placeholder="K.O Price">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({_205:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <!-- Result -->
                    <mat-form-field>
                        <input formControlName="result" matInput placeholder="Result">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({result:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <!-- FirstHalf -->
                    <mat-form-field>
                        <input formControlName="firstHalfResult" matInput placeholder="First Half Result">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({firstHalfResult:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>


                </div>
            </mat-grid-tile>

            <!--this mat grid tile is for adding a section for testing mat-components-->
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="finalScore" matInput placeholder="Final Score">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({finalScore:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="shots" matInput placeholder="Shots">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({shots:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="sog" matInput placeholder="SOG">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({sog:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="dangerousAttacks" matInput placeholder="Dangerous Attacks">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({dangerousAttacks:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="attacks" matInput placeholder="Attacks">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({attacks:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="possession" matInput placeholder="Possession">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({possession:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="cardCount" matInput placeholder="Card Count">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({cardCount:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <!-- Radio Buttons Section -->
                    <div class="add-bottom-padding">
                        <label id="radio-button-Score-First">Score First?</label>
                        <mat-radio-group aria-labelledby="radio-button-Score-First" formControlName="scoreFirstYN">
                            <mat-radio-button value="Y">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="add-bottom-padding">
                      <label id="radio-button-Score-First">League Tournament?</label>
                      <mat-radio-group aria-labelledby="radio-button-Score-First" formControlName="leagueTournament">
                          <mat-radio-button value="T">Yes</mat-radio-button>
                          <mat-radio-button value="">No</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div class="add-bottom-padding">
                    <label id="radio-button-Score-First">Red Card?</label>
                    <mat-radio-group aria-labelledby="radio-button-Score-First" formControlName="redCardYN">
                      <mat-radio-button value="">None</mat-radio-button>
                      <mat-radio-button value="1">Team 1</mat-radio-button>
                      <mat-radio-button value="2">Team 2</mat-radio-button>
                      <mat-radio-button value="3">Both</mat-radio-button>

                    </mat-radio-group>
                </div>
                <div class="add-bottom-padding">
                  <label id="radio-button-Score-First">TW?</label>
                  <mat-radio-group aria-labelledby="radio-button-Score-First" formControlName="clw">
                      <mat-radio-button value="TW">Yes</mat-radio-button>
                      <mat-radio-button value="">No</mat-radio-button>
                  </mat-radio-group>
              </div>
                </div>
                <div class="controles-container">
                    <div class="button-row">

                        <button mat-raised-button color="accent" type="submit" [disabled]="service.form.invalid" (click)="onSubmit()" [mat-dialog-close] cdkFocusInitial>Submit</button>
                        <button mat-raised-button color="accent" (click)="onClear()">Clear</button>
                        <button mat-button [mat-dialog-close] cdkFocusInitial>close</button>
                    </div>
                </div>
            </mat-grid-tile>

            <!--this mat grid tile is for adding a section for radio buttons and dropdowns-->
        </mat-grid-list>
    </form>
</mat-dialog-content>
