<h2 mat-dialog-title>Update Entry {{data.id}}</h2>
<mat-dialog-content>
    <form [formGroup]="service.form" class="normal-form">

        <mat-grid-list cols="2" rowHeight="600px">

            <mat-grid-tile>
                <div class="controles-container">
                    <!--<input type="hidden" formControlName="$key">-->
                    <mat-form-field>
                        <input formControlName="Team_1" matInput placeholder="Team 1">
                        <mat-error>This Field Is Mandatory</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Team_1:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-checkbox class="example-margin">Home Team</mat-checkbox>
                    <mat-form-field>
                        <input formControlName="Team_2" matInput placeholder="Team 2">
                        <mat-error>This Field Is Mandatory</mat-error>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Team_2:''})">
                       <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-checkbox class="example-margin">Home Team</mat-checkbox>


                    <mat-form-field>
                        <input #datepickerInput class="mat-datepicker-input" matInput [matDatepicker]="picker" formControlName="Date" placeholder="Choose a date">
                        <button matSuffix mat-icon-button arial-label="clear">
                      <mat-icon matDatepickerToggleIcon (click)="service.form.patchValue({Date:''})">clear</mat-icon>
                    </button>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>




                    <mat-form-field>
                        <input formControlName="ML_Price" matInput placeholder="ML Price">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({ML_Price:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="C_205" matInput placeholder="K.O Price">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({C_205:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Result" matInput placeholder="Result">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Result:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="First_Half_Result" matInput placeholder="First Half Result">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({First_Half_Result:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>


                </div>
            </mat-grid-tile>

            <!--this mat grid tile is for adding a section for testing mat-components-->
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="Final_Score" matInput placeholder="Final Score">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Final_Score:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Shots" matInput placeholder="Shots">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Shots:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="SOG" matInput placeholder="SOG">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({SOG:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Dangerous_Attacks" matInput placeholder="Dangerous Attacks">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Dangerous_Attacks:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Attacks" matInput placeholder="Attacks">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Attacks:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Possession" matInput placeholder="Possession">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Possession:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Card_Count" matInput placeholder="Card Count">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="service.form.patchValue({Card_Count:''})">
                      <mat-icon>close</mat-icon>
                    </button>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="Score_First___Yes_No_" matInput placeholder="Score First">
                    </mat-form-field>
                    <div class="add-bottom-padding">
                        <label id="radio-button-Score-First">Score First?</label>
                        <mat-radio-group aria-labelledby="radio-button-Score-First" formControlName="Score_First___Yes_No_">
                            <mat-radio-button value="Y">Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="controles-container">
                    <div class="button-row">

                        <button mat-raised-button color="accent" type="submit" [disabled]="service.form.invalid" (click)="onSubmit()" [mat-dialog-close] cdkFocusInitial>Submit</button>
                        <button mat-raised-button color="accent" (click)="onClear()">Clear</button>
                        <button mat-button [mat-dialog-close] cdkFocusInitial>close</button>
                    </div>
                </div>
            </mat-grid-tile>

            <!--this mat grid tile is for adding a section for radio buttons and dropdowns-->
        </mat-grid-list>
    </form>
</mat-dialog-content>